body {
    background-color: var(--header-bg);
}

/* Texts */
.greeting {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    text-align: left;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 300%;
    line-height: 50px;

    color: var(--text-primary);
}

.experiences {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    text-align: left;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 300%;
    line-height: 50px;

    color: var(--text-primary);
}

.aboutme {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    color: var(--text-primary);
}

.aboutme-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.aboutme-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 10% 20px 7%;
    box-sizing: border-box;
}

.aboutme-text {
    text-align: left;
    margin-bottom: 20px;
}

.aboutme-image {
    flex: 0 1 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
}

.aboutme-image img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 250px;
    object-fit: cover;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .aboutme-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 10% 20px 7%;
        gap: 30px;
    }

    .aboutme-content {
        flex: 1 1 100%;
        width: 100%;
    }

    .aboutme-image {
        flex: 0 1 100%;
        width: 100%;
        margin-top: 0;
    }

    .aboutme-image img {
        max-width: 350px;
    }

    .greeting,
    .experiences,
    .aboutme {
        margin-left: 0;
        margin-right: 0;
    }
}