.about {
    background-color: #7A94D6;
    width: 70%; 
    left: 30%;
    height: 100%;
    top: 0px;
    position: absolute; 
    align-items: right;
}


.meet {
    text-align: center; 
    margin-top: 15%;

    font-family: 'Open Sans';
    font-style: normal; 
    font-weight: 700;
    font-size: 200%;

    color: #FFECEC;

}

.texts {
    margin-left: 5%; 
    margin-right: 5%;
}

.text {
    text-align: center; 

    font-family: 'Open Sans';
    font-style: normal; 
    font-weight: 300;
    font-size: 100%;

    color: #FFECEC;

}