.experience {
    background-color: #7A94D6;
    width: 70%; 
    left: 30%;
    height: 100%;
    top: 0px;
    position: absolute; 
    align-items: right;
}


.exp_title1 {
    text-align: center; 
    margin-top: 10%;

    font-family: 'Open Sans';
    font-style: normal; 
    font-weight: 700;
    font-size: 170%;

    color: #FFECEC;

}

.exp_title2 {
    text-align: center; 
    margin-top: 5%;

    font-family: 'Open Sans';
    font-style: normal; 
    font-weight: 700;
    font-size: 170%;

    color: #FFECEC;

}

.jobs {
    margin-left: 5%; 
    margin-right: 5%;

    font-family: 'Open Sans';
    font-style: normal; 
    font-weight: 300;
    font-size: 100%;

    color: #FFECEC;
}

.courses {
    margin-left: 5%; 
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center; 
}

.course { 
    font-family: 'Open Sans';
    font-style: normal; 
    font-weight: 300;
    font-size: 100%;

    color: #FFECEC;
}