body {
    background-color: #7A94D6;
}

/* Texts */ 

.hello { 
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25%;
    text-align: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 300%;
    line-height: 50px;

    color: #FFD8C2;
}

.myname { 
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 170%;
    line-height: 35px;

    color: #FFC2AF;
}

/*Nav*/

.nav_wrapper {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    text-align: center;
}

.homenav1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 135%;

    cursor: pointer;

    color: #DDFDFF;
}

.homenav2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 135%;

    cursor: pointer;

    color: #DDFDFF;
}

.homenav3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 135%;

    cursor: pointer;

    color: #DDFDFF;
}

/* Images */

.homegit {
    margin-left: 41%;
    margin-right: 3%;
    width: 4.5%;
    height: auto; 

    cursor: pointer;
}

.homelink {
    margin-right: 3%;
    width: 4.5%;
    height: auto; 

    cursor: pointer;
}

.homeyou {
    margin-right: 3%;
    width: 4.5%;
    height: auto; 

    cursor: pointer;
}